#snake {
    padding: 0;
    margin: auto;
    display: block;
    width: 608px;
    height: 608px;
    position: absolute;
    top: 0;
    bottom: 1;
    left: 0;
    right: 0;
}

#paragraf {
    font-family: Montserrat;
    font-weight: bolder;
    text-align: center;
}

button {
    text-align: center;
    font-family: calibri;
    font-weight: bolder;
    font-size: 20px;
    
}